apiVersion: apps/v1
kind: Deployment 
metadata:
  name: todo-app 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app 
  template:
    metadata:
      labels:
        app: todo-app 
    spec:
      containers:
        - name: todo-app 
          image: todo-list-app:latest 
          imagePullPolicy: IfNotPresent # Kubernetes will:Use local image if it exists Pull only (from dockerhub) if missing 
          ports:
          - containerPort: 4000
          livenessProbe:
            httpGet:
              path: /health/healthz
              port: 4000
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health/readyz 
              port: 4000
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
          env:
          - name: NODE_ENV
            value: production
          - name: PORT 
            value: "4000"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"