apiVersion: v1 
kind: Service 
metadata:
  name: todo-app-service
spec:
  selector:
    app: todo-app 
  ports:
  - port: 80
    targetPort: 4000
  # type: LoadBalancer (in production)
  type: NodePort # in Local